<template>
	<div class="custom-marker" :style="markerStyle"></div>
</template>

<script>
	export default {
		props: ['color'],
		data() {
			return {
				markerStyle: {
					background: this.color,
				}
			}
		},
		
	}
</script>

<style scoped>
	.custom-marker {
		display: inline-block;
		width: 8px;
		height: 8px;
	}
</style>