<template>
<div>
    <v-data-table :headers="headers" :items="tableItems" hide-actions item-key="id">
        <template slot="items" slot-scope="props">
            <tr class="table-row" @click="props.expanded = !props.expanded">
                <td class="text-xs-left">
					<BoxMarker class="listitem-marker" :color="getScoreColor(props.item.details.overallSavingsMs)" />					
					<span>{{ props.item.title }}</span>					
				</td>
                <td class="text-xs-left cell">
					<div class="flex-v-center">
						<div v-if="hasRate">
							<div>{{ (Number(props.item.details.overallSavingsMs) / 1000).toFixed(2) + 's' }}</div>
						
							<v-progress-linear
								class="progress-bar"
								:title="props.item.displayValue"
								:color="getScoreColor(props.item.details.overallSavingsMs)"
								:value="getPercentage(props.item.details.overallSavingsMs)"
								height="4"
								background-color="#eee"
								background-opacity=".7"
								buffer-value="2000"
							></v-progress-linear>
						</div>

						<div v-else>
							{{props.item.displayValue}}
						</div>
						
					</div>
					
					<div class='expand-icon'>
						<v-icon>{{props.expanded ? 'expand_less' : 'expand_more'}}</v-icon>
					</div>
				</td>
            </tr>
        </template>
        <template slot="expand" slot-scope="props">
            <v-card flat>
				<div class="details-field">
					<v-card-text>
						<p class="text-left">Details:</p>
						<div class="text-left">{{props.item.description}}</div>
					</v-card-text>

					<br>

					<v-data-table 
						v-if="props.item.details.items === undefined || props.item.details.items.length > 0" 
						:hide-actions="true" 
						:headers="transformHeaders(props.item.details.headings)"
						:items="props.item.details.items" 
						item-key="key"
					>
						<template slot="items" slot-scope="props">
							<tr class="table-row">
								<td class="text-xs-left">{{props.item.url}}</td>
								<td class="text-xs-left">{{props.item.totalBytes}} KB</td>
								<td class="text-xs-left">{{props.item.wastedMs == undefined ? props.item.wastedBytes + " Bytes" : props.item.wastedMs}}</td>
							</tr>
						</template>
					</v-data-table>
				</div>
                
            </v-card>
        </template>
    </v-data-table>
</div>
</template>

<script>
import BoxMarker from './Marker'
export default {
	props: ['tableData', 'hasRate'],
	components: {
		BoxMarker
	},
    data() {
        return {
            headers: [
				{
                    text: this.tableData.title,
                    align: 'left',
                    sortable: false,
					value: 'name',
					class: 'table-header'
                },
                {
                    text: this.tableData.subtitle,
                    sortable: false,
                    align: 'right',
					value: 'calories',
					class: 'table-header'
                },
            ],
            tableItems: []
        }
	},
	created() {
		this.tableItems = this.tableData.data;
	},

	methods: {
		getPercentage(value) {
			return value * 100 / 2000;
		},
		getScoreColor(value) {
			if (this.tableData.title === 'Passed Audits') {
				return '#0CCE6B'
			}

			if (value == undefined) {
				return "#ccc"
			}

			let val = this.getPercentage(value);

			if (val < 49) {
				return "#FF4E42" //red
			} else if (val > 49 && val < 90) {
				return "#FFA400" //yellow
			} else {
				return "#0CCE6B" //green
			}
		},
		transformHeaders(headings) {
			let headers = [];
			if (headings == undefined) {
				return []
			}
			headings.forEach( el => {
				let obj = {}
				if (el.valueType !== 'thumbnail') {
					obj.text = el.label
					obj.sortable = false
					obj.key = el.key
					obj.width = "200px"
					headers.push(obj)
				}
				
			})
			console.log('headers', headers)
			return headers
		}
	},
}
</script>

<style>
	

	.table-row {
		cursor: pointer;
	}

	.table-header {
		background: #ccc;
		font-size: 16px;
		color: red;
	}

	.text-left {
		text-align: left;
	}

	.text-right {
		text-align: right;
	}

	.progress-bar {
		margin: 0;
		margin-top: 4px;
		border-radius: 5px;
	}

	.flex-v-center {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.cell {
		position: relative;
	}

	.expand-icon {
		position: absolute;
		right: 0px;
		top: 50%;
		transform: translateY(-50%);		
	}

	.listitem-marker {
		margin-right: 10px;
	}

	.details-field {
		background: #f5f4f4;
		padding-left: 100px;
		padding-right: 20px;
		padding-bottom: 10px;
	}
</style>

