<template>
<div>
    
    <h1 class="app-title">Page Speed Test App</h1>

    <hr/>

    <div class="table-holder">
        <div v-if="isShowing">
            <PageSpeedTable class="table" :tableData="data.opportunities" :hasRate="true" />
            
            <PageSpeedTable class="table" :tableData="data.diagnostics"  />
            
            <PageSpeedTable class="table" :tableData="data.passed"  />
        </div>
        <div v-else>
            <v-progress-circular :size="70" :width="7" indeterminate color="purple"></v-progress-circular>
        </div>
        
    </div>
</div>
</template>

<script>
import {bus} from '../helpers/Bus'

import PageSpeedTable from './PageSpeedTable'


export default {

    data() {
        return {
            data: {},
            isShowing: false
        }
    },

    components: {
        PageSpeedTable,
    },

    created() {
        this.data = bus.mainData.dataForRender;
        console.log('tableHolder data:', this.data)

        bus.$on('onDataReceived', data => {
            console.log('onDataReceived:', data)
            this.isShowing = true;
            this.data = data
        })
    },

    computed: {
        
    }
    

}
</script>

<style lang="css" scoped>
    .app-title {
        margin-bottom: 20px;
    }
    .table-holder {
        margin: 0 10%;
        margin-top: 30px;
    }
    .table {
        margin-bottom: 50px;
    }
</style>
